@*layout sheet for entire application*@

<!DOCTYPE html>
<html>
<head>
    @*character encoding*@
    <meta charset="utf-8" />
    @*controls pages dimensions and scaling*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Molly's Creche</title>

    @*referencing bootstrap css and my css page*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>
        <div class="container body-content">
            <a href="~/Index"><button>Home</button></a>
            <a href="~/CrecheApplication"><button>Creche Application Form</button></a>
            <a href="~/ListApplicants"><button>View Creche Applications</button></a>
        </div>
    </header>

    @*footer*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 Molly's Creche</p>
        </footer>
    </div>

    @*referencing libraries*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>