@page
@model Assignment.Pages.AjaxModel
@{
}

<select ID="applicantdropdown">
    @foreach (var applicant in Model.Applicants)
    {
        <option> @applicant.ID</option>
    }
</select>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Child's First Name</th>
            <th>Child's Surname</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="cfirstname"></td>
            <td id="clastname"></td>
        </tr>
    </tbody>
</table>

<div>Total Creche Applications: @Model.Count</div>

@section Scripts
{
    <script src="~/site.js"></script>
}

