@page
@model Assignment.Pages.CrecheApplicationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CrecheApplication";
}

<h2>Creche Application</h2>

<form method="post">

    @*ask for child properties first name, last name, PPS num, DOB, gender, hours requested, days requested,
        starting date*@

    <h3>Please fill in your childs details</h3>

    <div>
        <label asp-for=Applicant.CFirstName></label>
        <input asp-for=Applicant.CFirstName>
        <span asp-validation-for=Applicant.CFirstName></span>
    </div>

    <div>
        <label asp-for=Applicant.CLastName></label>
        <input asp-for=Applicant.CLastName>
        <span asp-validation-for=Applicant.CLastName></span>
    </div>

    <div>
        <label asp-for=Applicant.PPSN></label>
        <input asp-for=Applicant.PPSN>
        <span asp-validation-for=Applicant.PPSN></span>
    </div>

    <div>
        <label asp-for=Applicant.DOB></label>
        <input asp-for=Applicant.DOB>
        <span asp-validation-for=Applicant.DOB></span>
    </div>

    <div>
        <label asp-for=Applicant.Gender></label>
        <input asp-for=Applicant.Gender>
        <span asp-validation-for=Applicant.Gender></span>
    </div>

    <div>
        <span>Full or Part-Time </span>
        <label for="Full-Time">
            <input value="Full-Time" id="Full-Time" type="Radio" asp-for="Applicant.Hours" />
            Full-Time
        </label>
        <label for="Part-Time">
            <input value="Part-Time" id="Part-Time" type="Radio" asp-for="Applicant.Hours" />
            Part-Time
        </label>
        <span asp-validation-for=Applicant.Hours></span>
    </div>

    <div>
        <span>Days attending </span>
        <label asp-for=Applicant.Monday></label>
        <input asp-for=Applicant.Monday>
        <label asp-for=Applicant.Tuesday></label>
        <input asp-for=Applicant.Tuesday>
        <label asp-for=Applicant.Wednesday></label>
        <input asp-for=Applicant.Wednesday>
        <label asp-for=Applicant.Thursday></label>
        <input asp-for=Applicant.Thursday>
        <label asp-for=Applicant.Friday></label>
        <input asp-for=Applicant.Friday>
    </div>

    <div>
        <label asp-for=Applicant.StartDate></label>
        <input asp-for=Applicant.StartDate>
        <span asp-validation-for=Applicant.StartDate></span>
    </div>

    @*ask for parent properties First Name, Surname, relationship to child, address, Irish mobile num,
        //second contact num, other contact num, e-mail address, 2nd e-mail address*@

    <h3>Please fill in your own details</h3>

    <div>
        <label asp-for=Applicant.PFirstName></label>
        <input asp-for=Applicant.PFirstName>
        <span asp-validation-for=Applicant.PFirstName></span>
    </div>

    <div>
        <label asp-for=Applicant.PLastName></label>
        <input asp-for=Applicant.PLastName>
        <span asp-validation-for=Applicant.PLastName></span>
    </div>

    <div>
        <span>Relationship to Child </span>
        <label for="Father">
            <input value="Father" id="Father" type="Radio" asp-for="Applicant.Relationship" />
            Father
        </label>
        <label for="Mother">
            <input value="Mother" id="Mother" type="Radio" asp-for="Applicant.Relationship" />
            Mother
        </label>
        <label for="Other">
            <input value="Other" id="Other" type="Radio" asp-for="Applicant.Relationship" />
            Other
        </label>
        <span asp-validation-for=Applicant.Relationship></span>
    </div>

    <div>
        <label asp-for=Applicant.Address></label>
        <input asp-for=Applicant.Address>
        <span asp-validation-for=Applicant.Address></span>
    </div>

    <div>
        <label asp-for=Applicant.Mobile></label>
        <input asp-for=Applicant.Mobile>
        <span asp-validation-for=Applicant.Mobile></span>
    </div>

    <div>
        <label asp-for=Applicant.Phone1></label>
        <input asp-for=Applicant.Phone1>
        <span asp-validation-for=Applicant.Phone1></span>
    </div>

    <div>
        <label asp-for=Applicant.Phone2></label>
        <input asp-for=Applicant.Phone2>
    </div>

    <div>
        <label asp-for=Applicant.Email1></label>
        <input asp-for=Applicant.Email1>
        <span asp-validation-for=Applicant.Email1></span>
    </div>

    <div>
        <label asp-for=Applicant.Email2></label>
        <input asp-for=Applicant.Email2>
    </div>

    <button type="submit">Submit</button>
</form>