@page
@model Assignment.Pages.CrecheApplicationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CrecheApplication";
}

<h2>Creche Application</h2>

<form method="post">

    @*ask for child properties first name, last name, PPS num, DOB, gender, hours requested, days requested,
        starting date*@

    <h3>Please fill in your childs details</h3>

    <div>
        <label asp-for=Child.FirstName></label>
        <input asp-for=Child.FirstName>
    </div>

    <div>
        <label asp-for=Child.LastName>Last Name: </label>
        <input asp-for=Child.LastName>
    </div>

    <div>
        <label asp-for=Child.PPSN>PPSN: </label>
        <input asp-for=Child.PPSN>
    </div>

    <div>
        <label asp-for=Child.DOB>Date of Birth: </label>
        <input asp-for=Child.DOB>
    </div>

    <div>
        <label asp-for=Child.Gender>Gender: </label>
        <input asp-for=Child.Gender>
    </div>

    <div>Full or Part-Time: </div>
    <div>
        <select asp-for="Child.Hours" asp-items=Model.HoursList></select>
    </div>

    <fieldset>

        <legend>Days attending:</legend>

        @for (int i = 0; i < Model.Days.Length; i++)
        {
            <input asp-for="Days[i]" />
            <label asp-for="Days[i]">@Model.DayList[i]</label>
        }

    </fieldset>

    <div>
        <label asp-for=Child.StartDate></label>
        <input asp-for=Child.StartDate>
    </div>

    @*ask for parent properties First Name, Surname, relationship to child, address, Irish mobile num,
        //second contact num, other contact num, e-mail address, 2nd e-mail address*@

    @*<h3>Please fill in your own details</h3>

        <div>
            <label asp-for=Parent.FirstName>First Name: </label>
            <input asp-for=Parent.FirstName>
        </div>

        <div>
            <label asp-for=Parent.LastName>Last Name: </label>
            <input asp-for=Parent.LastName>
        </div>

        <div>Relationship to child:</div>
        <div>
            <input type="radio" name="Relationship" value="Father">Father<br>
            <input type="radio" name="Relationship" value="Mother">Mother<br>
            <input type="radio" name="Relationship" value="Other">Other<br>
        </div>

        <div>
            <label asp-for=Parent.Address>Address: </label>
            <input asp-for=Parent.Address>
        </div>

        <div>
            <label asp-for=Parent.Mobile>Mobile Phone Number: </label>
            <input asp-for=Parent.Mobile>
        </div>

        <div>
            <label asp-for=Parent.Phone1>House Phone Number: </label>
            <input asp-for=Parent.Phone1>
        </div>

        <div>
            <label asp-for=Parent.Phone2>Other Phone Number: </label>
            <input asp-for=Parent.Phone2>
        </div>*@

    <button type="submit">Submit</button>
</form>