@page
@model Assignment.Pages.CrecheApplicationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CrecheApplication";
}

<h2>Creche Application</h2>

<form method="post">

    @*ask for child properties first name, last name, PPS num, DOB, gender, hours requested, days requested,
        starting date*@

    <h3>Please fill in your childs details</h3>

    <div>
        <label asp-for=Child.FirstName></label>
        <input asp-for=Child.FirstName>
        <span asp-validation-for=Child.FirstName></span>
    </div>

    <div>
        <label asp-for=Child.LastName></label>
        <input asp-for=Child.LastName>
        <span asp-validation-for=Child.LastName></span>
    </div>

    <div>
        <label asp-for=Child.PPSN></label>
        <input asp-for=Child.PPSN>
        <span asp-validation-for=Child.PPSN></span>
    </div>

    <div>
        <label asp-for=Child.DOB></label>
        <input asp-for=Child.DOB>
        <span asp-validation-for=Child.DOB></span>
    </div>

    <div>
        <label asp-for=Child.Gender></label>
        <input asp-for=Child.Gender>
        <span asp-validation-for=Child.Gender></span>
    </div>

    <div>Full or Part-Time </div>
    <div>
        <select asp-for="Child.Hours" asp-items=Model.HoursList></select>
    </div>
    <span asp-validation-for=Child.Hours></span>

    <fieldset>

        <legend>Days attending</legend>

        @for (int i = 0; i < Model.Days.Length; i++)
        {
            <input asp-for="Days[i]" />
            <label asp-for="Days[i]">@Model.DayList[i]</label>
        }

    </fieldset>
    @*<span asp-validation-for=Days></span>*@

    <div>
        <label asp-for=Child.StartDate></label>
        <input asp-for=Child.StartDate>
        <span asp-validation-for=Child.StartDate></span>
    </div>

    @*ask for parent properties First Name, Surname, relationship to child, address, Irish mobile num,
        //second contact num, other contact num, e-mail address, 2nd e-mail address*@

    <h3>Please fill in your own details</h3>

    <div>
        <label asp-for=Parent.FirstName></label>
        <input asp-for=Parent.FirstName>
        <span asp-validation-for=Parent.FirstName></span>
    </div>

    <div>
        <label asp-for=Parent.LastName></label>
        <input asp-for=Parent.LastName>
        <span asp-validation-for=Parent.LastName></span>
    </div>

    <div>Relationship to child </div>
    <div>
        <select asp-for="Parent.Relationship" asp-items=Model.RelationshipList></select>
        <span asp-validation-for=Parent.Relationship></span>
    </div>

    <div>
        <label asp-for=Parent.Address></label>
        <input asp-for=Parent.Address>
        <span asp-validation-for=Parent.Address></span>
    </div>

    <div>
        <label asp-for=Parent.Mobile></label>
        <input asp-for=Parent.Mobile>
        <span asp-validation-for=Parent.Mobile></span>
    </div>

    <div>
        <label asp-for=Parent.Phone1></label>
        <input asp-for=Parent.Phone1>
        <span asp-validation-for=Parent.Phone1></span>
    </div>

    <div>
        <label asp-for=Parent.Phone2></label>
        <input asp-for=Parent.Phone2>
    </div>

    <div>
        <label asp-for=Parent.Email1></label>
        <input asp-for=Parent.Email1>
        <span asp-validation-for=Parent.Email1></span>
    </div>

    <div>
        <label asp-for=Parent.Email2></label>
        <input asp-for=Parent.Email2>
    </div>

    <button type="submit">Submit</button>
</form>