@page "{ID}"
@model Assignment.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Application</h2>

@*form for parent's/guardians to apply, with validation controls*@
<form method="post" class="form-horizontal">

    @*ask for child properties first name, last name, PPS num, DOB, gender, hours requested, days requested,
        starting date*@

    <span>Please fill in your up to date childs details</span>

    <div hidden class="form-group">
        <label asp-for=applicant.ID class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.ID class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.CFirstName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.CFirstName class="form-control">
        </div>
        <span asp-validation-for=applicant.CFirstName></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.CLastName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.CLastName class="form-control">
        </div>
        <span asp-validation-for=applicant.CLastName></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.PPSN class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.PPSN class="form-control">
        </div>
        <span asp-validation-for=applicant.PPSN></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.DOB class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.DOB class="form-control">
        </div>
        <span asp-validation-for=applicant.DOB></span>
    </div>

    @*radio buttons for gender*@
    <div class="form-group">
        <span class="col-sm-2 control-label">Child's Gender </span>
        <div class="col-sm-3">
            <label for="Male">
                <input value="Male" id="Male" type="Radio" asp-for="applicant.Gender" />
                Male
            </label>
            <label for="Female">
                <input value="Female" id="Female" type="Radio" asp-for="applicant.Gender" />
                Female
            </label>
            <label for="Other">
                <input value="Other" id="Other" type="Radio" asp-for="applicant.Gender" />
                Other
            </label>
        </div>
        <span asp-validation-for=applicant.Gender></span>
    </div>

    @*radio buttons for hours*@
    <div class="form-group">
        <span class="col-sm-2 control-label">Full or Part-Time </span>
        <div class="col-sm-3">
            <label for="Full-Time">
                <input value="Full-Time" id="Full-Time" type="Radio" asp-for="applicant.Hours" />
                Full-Time
            </label>
            <label for="Part-Time">
                <input value="Part-Time" id="Part-Time" type="Radio" asp-for="applicant.Hours" />
                Part-Time
            </label>
        </div>
        <span asp-validation-for=applicant.Hours></span>
    </div>

    @*checkbox for each day*@
    <fieldset class="form-group">
        <span class="col-sm-2 control-label">Days attending </span>
        <div class="col-sm-5">
            <input asp-for=applicant.Monday>
            <label asp-for=applicant.Monday></label>
            <input asp-for=applicant.Tuesday>
            <label asp-for=applicant.Tuesday></label>
            <input asp-for=applicant.Wednesday>
            <label asp-for=applicant.Wednesday></label>
            <input asp-for=applicant.Thursday>
            <label asp-for=applicant.Thursday></label>
            <input asp-for=applicant.Friday>
            <label asp-for=applicant.Friday></label>
        </div>
    </fieldset>

    <div class="form-group">
        <label asp-for=applicant.StartDate class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.StartDate class="form-control">
        </div>
        <span asp-validation-for=applicant.StartDate></span>
    </div>

    @*ask for parent properties First Name, Surname, relationship to child, address, Irish mobile num,
        //second contact num, other contact num, e-mail address, 2nd e-mail address*@

    <h3>Please fill in your own up to date details</h3>

    <div class="form-group">
        <label asp-for=applicant.PFirstName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.PFirstName class="form-control">
        </div>
        <span asp-validation-for=applicant.PFirstName></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.PLastName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.PLastName class="form-control">
        </div>
        <span asp-validation-for=applicant.PLastName></span>
    </div>

    @*radio buttons for relationship*@
    <div class="form-group">
        <span class="col-sm-2 control-label">Relationship to Child </span>
        <div class="col-sm-3">
            <label for="Father">
                <input value="Father" id="Father" type="Radio" asp-for="applicant.Relationship" />
                Father
            </label>
            <label for="Mother">
                <input value="Mother" id="Mother" type="Radio" asp-for="applicant.Relationship" />
                Mother
            </label>
            <label for="Other">
                <input value="Other" id="Other" type="Radio" asp-for="applicant.Relationship" />
                Other
            </label>
        </div>
        <span asp-validation-for=applicant.Relationship></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Address class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Address class="form-control">
        </div>
        <span asp-validation-for=applicant.Address></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Mobile class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Mobile class="form-control">
        </div>
        <span asp-validation-for=applicant.Mobile></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Phone1 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Phone1 class="form-control">
        </div>
        <span asp-validation-for=applicant.Phone1></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Phone2 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Phone2 class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Email1 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Email1 class="form-control">
        </div>
        <span asp-validation-for=applicant.Email1></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Email2 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Email2 class="form-control">
        </div>
    </div>

    <button type="submit">Update</button>
</form>
