@page
@model Assignment.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

@*home page with welcome message and image*@

<h2>Welcome</h2>
<h3>Please use the menu at the top of the page to complete or view an application</h3>

<img src="~/images/Crechelogo-01.png" />

@*displaying cookie information and joke from api*@
<div>
    The last time you visited this page was: @Model.Message
</div>
<div>
    Your new joke is: @Model.Joke
</div>

@*ajax*@
<div>
    <h3>Current Applications:</h3>
    <select ID="applicantdropdown">
        @foreach (var applicant in Model.Applicants)
        {
            <option> @applicant.ID</option>
        }
    </select>

    <table>
        <tbody>
            <tr>
                <td id="cfirstname"></td>
                <td>&nbsp;</td>
                <td id="clastname"></td>
            </tr>
        </tbody>
    </table>

    <div>Total Creche Applications: @Model.Count</div>

    @section Scripts
{
        <script src="~/site.js"></script>
    }
</div>