@page
@model Assignment.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

@*home page with welcome message and image*@

<h2>Welcome</h2>
<h3>Please use the menu at the top of the page to complete or view an application</h3>

<img src="~/images/Crechelogo-01.png" />

<div>The last time you visited this page was: @Model.Message</div>