@page "{ID}"
@model Assignment.Pages.ThankYouModel
@{
    ViewData["Title"] = "ThankYou";
}

@*thank-you page with message including cost*@

<h1>Thank-you for your application</h1>

<div>The cost per week will be @Model.applicant.Cost</div>